<div class="stripe-donate-banner text-center">
    Support Shinobi development by subscribing to <a class="flat-button" id="stripe-donate-banner">Shinobi Honor</a> for the cost of two chocolate bars (USD). &nbsp;
    <a class="stripe-close"><i class="fa fa-times-circle"></i></a>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>

var handler = StripeCheckout.configure({
    key: 'pk_live_SjzKuxKHK0ascZEkjF82aQB9',
    image: '/libs/assets/icon/mstile-310x310-circle.png',
    name: "Shinobi Systems",
    description: "Shinobi Honor ($4.99 per month)",
    panelLabel: "Subscribe",
    allowRememberMe: false
})

document.getElementById('stripe-donate-banner').addEventListener('click', function(e) {
    handler.open()
    e.preventDefault()
})

$('.stripe-close').click(function(){
    $('.stripe-donate-banner').remove()
})

</script>
<style>
    .stripe-close:hover {
        color: #fff!important;
    }
    .stripe-close {
        cursor: pointer;
        color: #fff!important;
    }
    .stripe-donate-banner {
        display:inline-block;
        right:5px;
        position:fixed;
        top:5px;
        margin:auto;
        border-radius:5px;
        padding:5px 20px;
        font-size:13px;
        background:#117b15;
        color:#fff;
        z-index:11111;
    }
    .stripe-donate-banner:hover {
        background:#199a1e;
    }
    /* flat button */
    .flat-button:hover {
        text-decoration:none;
        color:#fff;
        background-color: #4285f4;
    }
    .flat-button {
        margin-left:2px;
        margin-right:2px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        color: #fff!important;
        background-color: #4285f4;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 15px;
        font-family: monospace;
    }
</style>
