    <footer id="footer">
        <div class="container-fluid">
            <div class="container text-center">
            <div class="row">
<!--
                <div class="col-xs-6 col-sm-4 column">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                        <li><a>Products</a></li>
                        <li><a>Services</a></li>
                        <li><a>Benefits</a></li>
                        <li><a>Developers</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a>Contact Us</a></li>
                        <li><a>Delivery Information</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 column">
                    <h4>Social</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/ShinobiCCTV">Twitter</a></li>
                        <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks">Facebook</a></li>
                        <li><a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit">Reddit</a></li>
                    </ul>
                </div>
-->
            </div>
            </div>
            <a href="https://twitter.com/ShinobiCCTV" title="Twitter"><i class="fa fa-twitter"></i> &nbsp; Twitter</a> &nbsp; &nbsp;
            <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks" title="Facebook"><i class="fa fa-facebook"></i> &nbsp; Facebook</a> &nbsp;  &nbsp;
            <a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit"><i class="fa fa-reddit"></i> &nbsp; Reddit</a> &nbsp;  &nbsp;
            <a href="http://discordapp.com/invite/mdhmvuH/" title="Discord"><i class="fa fa-comments"></i> &nbsp; Discord</a> &nbsp;  &nbsp;
            <a href="https://gitlab.com/Shinobi-Systems/Shinobi" title="Github"><i class="fa fa-gitlab"></i> &nbsp; GitLab</a>
            <span class="pull-right text-muted small"><a href="//shinobi.video">Shinobi</a> © </span>
        </div>
    </footer>
    <!--scripts loaded here -->
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/libs/js/jquery.easing.min.js"></script>
    <script src="/libs/js/wow.js"></script>
    <script src="/libs/js/scripts.js"></script>
    <script src="/libs/js/showdown.min.js"></script>
<% include theme.ejs %>
  </body>
</html>
<% include globalFooter.ejs %>
<% include facebooklauncher.ejs %>
<% include donatemonthlybar.ejs %>
<% include chatwindow.ejs %>
