<% config.Title='People of Shinobi'; %>
<% include blocks/header.ejs %>
<link href="libs/css/hipster_cards.css" rel="stylesheet"/>
<style>
    .people-panel{}
</style>
<% include blocks/subheader.ejs %>
<section id="learn" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary" title="ZoneMinder vs Shinobi">Heroes of Shinobi</h2>
                <p>Those who have put a serious contirbution into the project are not always mentioned but we hope to do our best in letting those people know we truly appreciate their help, hands, and heart. <b>Thank you.</b></p>
                <hr class="primary">
            </div>
        </div>
        <div class="masonry-container">
              <% [
                  {
                      name : 'Sean Alam',
                      img : 'libs/assets/backgrounds/2.jpg',
                      discordHandle : 'netdude#8753',
                      title : "Moe's Elder Brother",
                      description : 'All the hardware, virtual resources, and a large chunk of the free time that developed Shinobi is given by my older brother.',
                      links : [
                          {
                              href : "https://www.unmetered.io",
                              title : "UNMETERED.IO",
                              style : "default",
                              icon : "magnet",
                          }
                      ]
                  },
                  {
                      name : 'Kevin Godell',
                      img : 'libs/assets/backgrounds/4.jpg',
                      discordHandle : 'kevinGodell#2855',
                      title : 'Head of Research and Development',
                      description : 'Kevin has provided keystones for Shinobi such as HLS, Poseidon, and the Built-In Motion Detector. Mention of these barely scratches the surface in what Kevin has given the Shinobi community and, even more so, the Open Source community.',
                      links : [
                          {
                              href : "https://github.com/kevinGodell",
                              title : "Github Profile",
                              style : "success",
                              icon : "github",
                          }
                      ]
                  },
                  {
                      name : 'Christos ',
                      img : 'libs/assets/backgrounds/3.jpg',
                      discordHandle : 'Knackrack615#4510',
                      title : 'First Community Member',
                      description : 'The first friend and believer of the project. He who created the Discord channel and sparked the community we are part of today.',
                  },
                  {
                      name : 'Austin Lakeman',
                      img : 'libs/assets/backgrounds/stair-twist.jpg',
                      discordHandle : 'Namekal#7692',
                      title : 'Contributor and Community Advisor',
                      description : 'A  look through the Shinobi Community\'s chat history will show many issues being raised and resolved for members and developers. He fully volunteers his efforts to the application and community, from coaching new users to providing code contributions.',
                      links : [
                          {
                              href : "https://namekal.tech/",
                              title : "Personal Website",
                              style : "success",
                              icon : "globe",
                          },
                          {
                              href : "https://www.linkedin.com/in/austinlakeman/",
                              title : "LinkedIn Profile",
                              style : "default",
                              icon : "linkedin",
                          },
                          {
                              href : "https://github.com/namekal",
                              title : "Github Profile",
                              style : "success",
                              icon : "github",
                          },
                          {
                              href : "https://gitlab.com/namekal",
                              title : "Gitlab Profile",
                              style : "danger",
                              icon : "gitlab",
                          },
                          {
                              href : "https://keybase.io/namekal",
                              title : "Keybase Profile",
                              style : "default",
                              icon : "smile-o",
                          }
                      ]
                  },
              ].forEach(function(v,n){
                if(!v.img){
                    var randomNumber = (Math.floor(Math.random() * 5) + 1)
                    v.img = 'libs/assets/backgrounds/'+randomNumber+'.jpg'
                }
                %>
            <div class="card-box col-md-4 col-sm-6">
                <div class="card" data-background="image" data-src="<%= v.img %>">
                    <div class="header">
                        <div class="category">
                            <% if(v.discordHandle){ %>
                            <div style="margin-bottom:10px;">
                                <h6 style="letter-spacing: 2px;" class="label label-primary" title="Discord User Tag"><%= v.discordHandle %></h6>
                            </div>
                            <% } %>
                            <% if(v.links){
                               v.links.forEach(function(link){
                                //link.href
                                //link.label
                                //link.icon
                                //link.style : default,primary,info,warning..
                              %>
                                <a class="btn btn-<%= link.style %> btn-round" href="<%= link.href %>" title="<%= link.title %>"><i class="fa fa-<%= link.icon %>"></i><% if(link.label){ %>&nbsp; <%= link.label %><% } %></a>
                              <% })
                            } %>
                        </div>
                    </div>

                    <div class="content">
                        <h4 class="cursive">
                            <%= v.name %>
                        </h4>
                        <h6>
                            <%= v.title %>
                        </h6>
                        <p class="description"><%= v.description %></p>
                    </div>
                    <div class="filter">

                    </div>
                </div> <!-- end card -->
            </div>
           <%  }) %>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>
<script src="libs/js/hipster-cards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>

<script>

    $().ready(function(){

        var $container = $('.masonry-container');

        doc_width = $(document).width();

        if (doc_width >= 768){
            $container.masonry({
                itemSelector        : '.card-box',
                columnWidth         : '.card-box',
                transitionDuration  : 0
            });
        } else {
            $('.mas-container').removeClass('mas-container').addClass('row');
        }
    });
</script>
