<% config.Title='Pro'; %>
<% include blocks/header.ejs %>
<style>
    .super-table tr td:first-child{text-transform:initial;font-weight: 500;}
    .super-table thead tr td{text-transform: initial;letter-spacing: normal;}
    header{background-image:url(/libs/assets/backgrounds/1.jpg)}
</style>
<% include blocks/subheader.ejs %>
<section id="learn1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="margin-top-0 text-primary">The Difference Between Pro and CE</h1>
                <p>Professional and Community Edition</p>
                <hr class="primary">
            </div>
        </div>
      <table class="super-table red-center" style="font-size:15pt">
          <thead>
              <tr>
                  <td>&nbsp;</td>
                  <td class="cursive" style="font-size: 20pt!important;">Pro</td>
                  <td>CE</td>
              </tr>
          </thead>
          <tbody>
              <% [
                  {
                      label:'License',
                      feature:'Shinobi Open Source EULA',
                      compare1:'GNU General Public License v3',
                      description:'Agreement for using the software.',
                  },
                  {
                      label:'License Fee',
                      feature:'$75*/month',
                      compare1:'Free',
                      description:'The retail cost for a monthly subscription.',
                  },
                  {
                      label:'Camera Limit',
                      feature:'None',
                      compare1:'None',
                      description:'The retail cost for a monthly subscription.',
                  }
              ].forEach(function(v,n){
                  ['feature','compare1'].forEach(function(b){
                      if(v[b]===1){v[b]='<i class="fa fa-check text-success"></i>'}
                      if(v[b]===0){v[b]='<i class="fa fa-times text-danger"></i>'}
                  })
                  if(v.important===1){
                      v.label='<i class="fa fa-exclamation-triangle" title="Important"></i> '+v.label
                  }
                  %>
              <tr>
                  <td><%-v.label%><div class="description"><small><%-v.description%></small></div></td>
                  <td><%-v.feature%></td>
                  <td><%-v.compare1%></td>
              </tr>
           <%  }) %>
          </tbody>
          <tfoot>
              <tr>
                  <td>&nbsp;</td>
                  <td><a class="btn btn-primary" href="https://gitlab.com/Shinobi-Systems/Shinobi">Get Now</a></td>
                  <td><a class="btn btn-default" href="https://gitlab.com/Shinobi-Systems/ShinobiCE">Get Now</a></td>
              </tr>
          </tfoot>
      </table>
    </div>
</section>

<section class="bg-primary" id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center pull-right">
                <h2 class="margin-top-0 text-primary">What is the point of two?</h2>
                <br>
                <p class="large">Hu-mans. We have this strange urge to have all these rules and regulations around everything, so two sets of licenses had to be used. One allows monetization of the efforts put into Shinobi and the other is entirely free.</p>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/face-of-legalities.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">License Keys to Activate</h2>
                <br>
                <p class="large">Shinobi is released under a Trust-Based system. There are no license keys or mechanisms to detract from your use of the product. If Shinobi is working for you please order a License subscription.</p>
                <div class="btn-group">
                    <a href="https://gitlab.com/Shinobi-Systems/Shinobi" class="btn btn-primary btn-xl">The Repository</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/moe.png">
            </div>
        </div>
    </div>
</section>
<section id="learn3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Shinobi Pro without a Subscription</h2>
                <br>
                <p class="large">You may use Shinobi Pro without a license for educational and evaluation purposes. Students, schools, colleges and universities do not require a subscription.</p>
                <div class="btn-group">
                    <a href="https://gitlab.com/Shinobi-Systems/Shinobi" class="btn btn-primary btn-xl">View the Code</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/panda-happy.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">The Difference in Code</h2>
                <br>
                <p class="large">Aside from the fact CE gets updated in lower intervals, nothing. CE is a GPLv3 release of Shinobi to allow highly permissive use of the software without the need to return the favor. All Pro features can be used in the CE Edition.</p>
                <div class="btn-group">
                    <a href="https://gitlab.com/Shinobi-Systems/ShinobiCE" class="btn btn-primary btn-xl">Pro Repository</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/ninja-samurai-heads.png">
            </div>
        </div>
    </div>
</section>
<section id="learn2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Why have CE?</h2>
                <br>
                <p class="large">Shinobi started as GPLv3 software to replace ZoneMinder. It was felt that this legacy needed to continue so the GPLv3 release became known has the Community Edition. A gift to the community.</p>
                <div class="btn-group">
                    <a href="https://gitlab.com/Shinobi-Systems/ShinobiCE" class="btn btn-primary btn-xl">CE Repository</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/iot-network.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Licensing</h2>
                <br>
                <p class="large">Shinobi Pro is licensed under Shinobi Open Source EULA. This means that you will be required to have a subscription to use Shinobi Pro in commercial locations.</p>
                <div class="btn-group">
                    <a href="//billing.place/cart/shinobi-pro/" class="btn btn-primary btn-xl">Order Now</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/handshake.png">
            </div>
        </div>
    </div>
</section>
<section id="learn5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Support</h2>
                <br>
                <p class="large">Support for Shinobi is provided to Pro subscribers. You may contact developers in the community chat platform, Discord.</p>
                <div class="btn-group">
                    <a href="http://discordapp.com/invite/mdhmvuH/" class="btn btn-primary btn-xl">Join the Community</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <iframe src="https://discordapp.com/widget?id=264819784292499457&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">What is commercial use or a commercial location?</h2>
                <br>
                <p class="large">Locations that engage in the buying and selling of goods and services. Using Shinobi in an application or scheme that results in economical gain - Example : making an isolated account and charging for it</p>
                <div class="btn-group">
                    <a href="/articles/2017-08-03-shinobi-ce-and-shinobi-pro" class="btn btn-primary btn-xl">More Details</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/engineer.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>
